$color-primary: #0d598b;
$color-secondary: #67f182;

$color-success: #67f175;
$color-warning: #faff60;
$color-error: #f16767;
$color-info: #ffa825;

$spacing-xl: 32px;
$spacing-l: 24px;
$spacing-m: 16px;
$spacing-s: 8px;
$spacing-xs: 4px;

$fontsize-xl: 32px;
$fontsize-l: 26px;
$fontsize-m: 22px;
$fontsize-s: 18px;
$fontsize-xs: 14px;
